<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item active">Home</a>
    <a class="item">Menu</a>
    <a class="item">Try it</a>
  </div>
</div>

<div class="ui steps">
  <div class="step">
    <i class="home icon"></i>
    <div class="content">
      <div class="title">Top</div>
      <div class="description">Select service</div>
    </div>
  </div>
  <div class="active step">
    <i class="wpforms icon"></i>
    <div class="content">
      <div class="title">Input</div>
      <div class="description">Attach file of MHLW</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="table icon"></i>
    <div class="content">
      <div class="title">Result</div>
      <div class="description">See difference</div>
    </div>
  </div>
</div>

<h1>厚生労働省　デモ画面</h1>
<p class="ui dividing header">取得期間を指定して国税庁法人番号公表サイトのAPIから情報を取得する</p>

<p style="color: red"><%= alert %></p>

<% content_for :js do %>
  <%= javascript_import_module_tag "search" %>
<% end %>


<%#= form_with(url: diff_api_path, method: :get, local: true, multipart: true, class: "ui form") do |form| %>
<%= form_with(url: {controller: "api_managements", action: "diff_api"}, method: :post, local: true, class: "ui form") do |form| %>
  <div class="ui error message"></div>
  <div class="field">
    <%= form.label :date, "取得期間(50日以内)" %>
    <div class="two fields">
      <div class="field">
        <%= form.text_field :start_date, :placeholder => "開始日" %>
      </div>
      <div class="field">
        <%= form.text_field :end_date, :placeholder => "終了日" %>
      </div>
    </div>
    <%= form.label :type, "応答形式" %>
    <%= form.select :type, options_for_select([["CSV 形式/Shift-JIS(JIS 第一・第二水準) ","01"], ["CSV 形式/Unicode(JIS 第一水準から第四水準)","02"],  ["XML 形式/Unicode(JIS 第一水準から第四水準)","12"]]) %>
    <%= form.label :address, "所在地" %>
    <%= form.select :address, options_for_select([["全国",""], ["北海道","01"], ["青森県","02"], ["岩手県","03"], ["宮城県","04"], ["秋田県","05"], ["山形県","06"], ["福島県","07"], ["茨城県","08"], ["栃木県","09"], ["群馬県","10"], ["埼玉県","11"], ["千葉県","12"], ["東京都","13"], ["神奈川県","14"], ["新潟県","15"], ["富山県","16"], ["石川県","17"], ["福井県","18"], ["山梨県","19"], ["長野県","20"], ["岐阜県","21"], ["静岡県","22"], ["愛知県","23"], ["三重県","24"], ["滋賀県","25"], ["京都府","26"], ["大阪府","27"], ["兵庫県","28"], ["奈良県","29"], ["和歌山県","30"], ["鳥取県","31"], ["島根県","32"], ["岡山県","33"], ["広島県","34"], ["山口県","35"], ["徳島県","36"], ["香川県","37"], ["愛媛県","38"], ["高知県","39"], ["福岡県","40"], ["佐賀県","41"], ["長崎県","42"], ["熊本県","43"], ["大分県","44"], ["宮崎県","45"], ["鹿児島県","46"], ["沖縄県","47"], ["国外","99"]]) %>
    <%= form.label :divide, "分割番号" %>
    <%= form.text_field :divide, :placeholder => "1-99999" %>
  </div>
  <%= form.label :file, "制度所管データファイル" %>
  <%= form.file_field :file, accept: '.csv' %>
  <%= form.submit "データ取得", class: "ui submit button" %>
<% end %>

<div class="ui calendar" id="standard_calendar">
  <div class="ui fluid input left icon">
    <i class="calendar icon"></i>
    <input type="text" placeholder="Date/Time">
  </div>
</div>
