<div id="<%= dom_id api_management %>">
  <p>
    <strong>Request:</strong>
    <%= api_management.request %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= api_management.response %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= api_management.count %>
  </p>

  <p>
    <strong>Wait-time:</strong>
    <%= api_management.wtime %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= api_management.comment %>
  </p>

</div>
