<%= form_with(model: api_management) do |form| %>
  <% if api_management.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(api_management.errors.count, "error") %> prohibited this api_management from being saved:</h2>

      <ul>
        <% api_management.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :request, style: "display: block" %>
    <%= form.text_area :request %>
  </div>

  <div>
    <%= form.label :response, style: "display: block" %>
    <%= form.text_area :response %>
  </div>

  <div>
    <%= form.label :count, style: "display: block" %>
    <%= form.number_field :count %>
  </div>

  <div>
    <%= form.label :wtime, style: "display: block" %>
    <%= form.time_field :wtime %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <br>

  <div>
    <%= form.submit class: "ui blue button" %>
  </div>
<% end %>
