<p style="color: green"><%= notice %></p>

<%= render @api_management %>

<div>
  <%= link_to "Edit", edit_api_management_path(@api_management) %> |
  <%= link_to "Back", api_managements_path %>

  <%= button_to "Delete", @api_management, { method: :delete, class: "ui blue button" } %>
</div>
